<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Say Hello</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <img src="https://images-platform.99static.com/REHsnSsUokJI6oA_fVhvX6_Wunk=/96x96:865x865/500x500/top/smart/99designs-contests-attachments/114/114672/attachment_114672911">
        <br>
        <form action="greet" method="post">
            <p>What's your name?</p>
            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}

         <input type="text" name="name_input">
         <br>
        <input type="submit" value="GREET" id="greet">
        </form>
    </body>
</html>